*{
    padding: 0;
    margin: 0;
}
body{
    background-color: lightblue;
}
h1{
    color: blue;
    background-color: white;
    font-family: monospace;
    text-align: center;
    height: 100px;
    width: 70%;
    margin-top: 200px;
    margin-left: 210px;
    margin-bottom: 10px;
    padding-top: 50px;
    border: 5px solid black;
}
h2{
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    margin-left: 200px;
    padding: 20px;
    padding-top: 100px;
    width: 70%;
    height: 100px;
    border-width: 5px;
    background-color: black;
}